<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956150016335-ke35q9u04kp8v8t84b9bsm07f4nfpk6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956150016335-ke35q9u04kp8v8t84b9bsm07f4nfpk6t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956150016335-8tie7453t058ufgk4m9jm0hculupc748.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgCru8vOGJKLgtHyOLekI2hRgX15bmqjw</string>
	<key>GCM_SENDER_ID</key>
	<string>956150016335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animalApp</string>
	<key>PROJECT_ID</key>
	<string>helping-pets-and-me</string>
	<key>STORAGE_BUCKET</key>
	<string>helping-pets-and-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956150016335:ios:55ad706b15810952bdfd3a</string>
	<key>DATABASE_URL</key>
	<string>https://helping-pets-and-me-default-rtdb.firebaseio.com</string>
</dict>
</plist>